.checkoutItem {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutItem__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutItem__info {
  padding-left: 20px;
}
.checkoutItem__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
}
.checkoutItem__rating {
  display: flex;
}
.checkoutItem__title {
  font-size: 17px;
  font-weight: 800;
}
