.header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgb(34, 34, 34);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__cartCount {
  margin-left: 10px;
  margin-right: 10px;
}
.header__logo {
  width: 100px;
  margin: 0px 20px;
  margin-top: 18px;
  object-fit: contain;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header__optionCart {
  display: flex;
  align-items: center;
  color: white;
}
.header__optionOne {
  font-size: 12px;
}
.header__optionTwo {
  font-size: 15px;
  font-weight: 800;
}
.header__search {
  display: flex;
  flex: 1;
  border-radius: 24px;
  align-items: center;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon {
  padding: 5px;
  background-color: #ff9900;
  height: 22px !important;
}
